/*
==========================
FONT
==========================
*/
$base-font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, "Helvetica Neue";

@mixin page-h1 {
    color: $dark-grey;
    text-transform: capitalize;
    font-size: 20px;
    text-align: left;
}

/*
==========================
COLORS
==========================
*/
$darkest-black: #242424;
$darkest-grey: #333333;
$darker-grey: #4f4f4f;
$dark-grey: #7f7f7f;
$med-grey: rgb(158, 158, 158);
$grey: #bbbbbb;
$lighter-grey: #D9D9D9;
$light-grey: #e6e6e6;
$pale-grey: #efefef;
$palest-grey: #f8f8f8;

$theme-color: #2186EB;
$theme-color--light: #E5F6FF;
$theme-color--med-light: rgb(177, 213, 243);
$theme-color--medium: rgb(69, 140, 199);
$theme-color--dark: rgb(22, 100, 179);
$theme-color--darkest: rgb(32, 36, 39);
$theme-color--gradient:  linear-gradient(30deg, $theme-color--dark, $theme-color);
$theme-color--gradient-med:  linear-gradient(5deg,  rgb(142, 182, 218), $theme-color--med-light);
$page-background: #F5F7FA;

$attention-red: rgb(236, 82, 71);
$attention-red--light: rgb(250, 230, 228);
/*
==========================
STYLING
==========================
*/
$page-padding: 20px;
$box-shadow: 0px 3px 6px $light-grey;
$box-shadow-blue: 0px 3px 6px $theme-color--dark;
$box-shadow-blue-darkest: 0px 3px 6px $theme-color--darkest;
$max-width: 1180px;

/*
==========================
Z-INDEXES
==========================
*/
$z-dropdown: 200;
$z-header: 14;
$z-middle: 10;
$z-default: 1;
$z-below: -1;

/*
==========================
ITEM
==========================
*/
@mixin item-h1 {
    color: $darker-grey;
    text-transform: capitalize;
    font-size: 20px;
    text-align: left;
    font-weight: 600;
}

@mixin item-card-h1 {
    color: $darker-grey;
    text-transform: capitalize;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
}

/*
==========================
PAGE
==========================
*/
@mixin page {
    background-color: $page-background;
    min-width: 100vw;
    min-height: 100vh;
    padding: 20px;
}
