@import 'styles/shared.scss';

.app {
  background-color: $theme-color--darkest;
  color: white;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  padding: 0px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  align-items: start;

  h1 {
    margin: 0px !important;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    background-color: $theme-color--dark;
    padding: 10px;
    box-shadow: $box-shadow-blue-darkest;
  }
  iframe {
    margin: 0 auto;
    width: 90vw;
    height: 85vh;
  }
}

.week-container--grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  justify-items: stretch;
  align-items: stretch;

  iframe {
    width: 100%;
    height: auto;
  }
}

.weekday-title {
  background-color: $pale-grey;
  color: $dark-grey;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}